
  <form role="form" id="new-form">
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" name="feed[url]" value="" id="url">
    </div>

      <p><input class="btn btn-success" type="submit" value="Create"></p>
  </form>

